<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Food & Health</title>
    <!--google fonts-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!--jquery ui stylesheet-->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- site favicon -->
    <link rel="icon" href="/images/favicon.png" th:src="@{/images/favicon.png}"/>

    <!--selectric stylesheet-->
    <link rel="stylesheet" href="/css/selectric.css" th:src="@{/css/selectric.css}"/>
    <!--font awesome stylesheet-->
    <link rel="stylesheet" href="/css/font-awesome.min.css" th:src="@{/css/font-awesome.min.css}"/>
    <!--swipe box stylesheet-->
    <link rel="stylesheet" href="/css/swipebox.css" th:src="@{/css/swipebox.css}"/>
    <!-- mean menu stylesheet-->
    <link rel="stylesheet" href="/css/meanmenu.css" th:src="@{/css/meanmenu.css}"/>
    <!--slick slider stylesheet-->
    <link rel="stylesheet" href="/css/slick.css" th:src="@{/css/slick.css}"/>
    <link rel="stylesheet" href="/css/slick-theme.css" th:src="@{/css/slick-theme.css}"/>
    <!--bootstrap stylesheets-->
    <link rel="stylesheet" href="/css/bootstrap.css" th:src="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.css" th:src="@{/css/bootstrap-theme.css}"/>
    <!--animate stylesheet-->
    <link rel="stylesheet" href="/css/animate.css" th:src="@{/css/animate.css}"/>
    <!--main stylesheet-->
    <link rel="stylesheet" href="/css/main.css" th:src="@{/css/main.css}"/>

    <link rel="stylesheet" href="/js/flexslider/flexslider.css" th:src="@{/js/flexslider/flexslider.css}"/>

    <link href="css/helper.css" rel="stylesheet" th:href="@{/css/helper.css}">

    <link href="css/style.css" rel="stylesheet" th:href="@{${css}}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
</head>
<!--/*@thymesVar id="recipes" type="java.util.List"*/-->
<!--/*@thymesVar id="recipe" type="com.sencerseven.basittarifler.domain.Recipe"*/-->
<body>
<!--pre-loader-->
<div class="preloader">
    <div class="loadr">
        <svg  viewbox="0 0 74.6 81">
            <path d="M67.8,12.9C51.7,5.2,26.2,0.2,26.2,0.2c-10.9-1.8-9.3,11.4-9,20.2c0,0.7,0.1,1.4,0.1,2c7.8,1.5,19.7,4,29.2,7.4c11.4,4.1,9.6,8.3,9.2,16c-0.2,4.9-0.4,14,1.1,21.3c7.7,1.4,13.8,1.9,13.1-0.3c-6.3-7.2-0.1-29.6,1.8-34.2C73.3,28.7,79.3,18.4,67.8,12.9z">      </path>
            <path d="M58.9,79.5c-6.5-5.6-6.2-23.6-5.8-31.3c0.4-7.7,2.1-11.9-9.2-16c-15.3-5.5-37.3-8.8-37.3-8.8c-9.1-1.1-6.6,8.4-5.5,15.1c1.7,10,5.4,22,7.9,27.8c2.8,6.5,8.9,7.3,8.9,7.3S65.4,85.1,58.9,79.5z"></path>
        </svg>
    </div>
</div>
<!--pre-loader ends-->

<!--header-->
<div th:replace="fragment/header :: header"></div>
<!--header ends-->

<div th:replace="${view}"></div>
<!--food tabs ends-->

<!--footer-->
<div th:replace="fragment/footer"></div>
<!--footer ends-->



<script src="/js/jquery-1.11.3.min.js" th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script src="/js/jquery-ui.js" th:src="@{/js/jquery-ui.js}"></script>
<script src="/js/flexslider/jquery.flexslider-min.js" th:src="@{/js/flexslider/jquery.flexslider-min.js}"></script>
<script src="/js/slick.min.js" th:src="@{/js/slick.min.js}"></script>
<script src="/js/jquery.meanmenu.js" th:src="@{/js/jquery.meanmenu.js}"></script>
<script src="/js/jquery.selectric.min.js"  th:src="@{/js/jquery.selectric.min.js}"></script>
<script src="/js/wow.js"  th:src="@{/js/wow.js}"></script>
<script src="/js/jquery.form.js"  th:src="@{/js/jquery.form.js}"></script>
<script src="/js/jquery.validate.min.js"  th:src="@{/js/jquery.validate.min.js}"></script>
<script src="/js/jquery.swipebox.js"  th:src="@{/js/jquery.swipebox.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script src="/js/custom.js"  th:src="@{/js/custom.js}"></script>
<script src=""  th:src="@{${js}}"></script>



</body>
</html>